.body {
  margin: auto;
  width: 90%;
}
* {
  box-sizing: border-box;
}

.hero {
  position: relative;
}

.videohero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.FI {
  background: rgba(128, 128, 128, 0.442);
  width: 60%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  top: 30vh;
  position: absolute;
  left: 15vw;
  backdrop-filter: blur(5px);
}

.nav {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.menu {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  :hover {
    color: red;
    transform: scale(1.3);
    cursor: pointer;
    transition: all 0.5s;
  }
}

ul li {
  list-style-type: none;
}
.img1 {
  height: 60vh;
}
.container1 {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  background: url(./img2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container2 {
  background: url(./img1.avif) center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.title {
  background: rgba(255, 0, 0, 0.262);
  font-size: 2rem;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1rem;
  padding: 1rem;
}
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 3rem;
}
.arrow {
  color: red;
  font-size: 3rem;
  transform: rotate(90deg);
  position: absolute;
  bottom: 30px;
  left: 350px;
  animation: goDown 1s infinite;
}

@keyframes goDown {
  0% {
    bottom: 30px;
    left: 350px;
  }
  100% {
    bottom: 10px;
    left: 350px;
  }
}
